
{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>All <span>Dresses </span></h3>
	</div>
</div>
{% if dress_list %}
{% for dress in dress_list %}
    <div class="single-pro">
			<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="{{ dress.dress_pic.url }}" alt="" class="pro-image-front" height="300px" width="600px">
                    {% if dress.dress_pic2%}
										<img src="{{ dress.dress_pic2.url }}" alt="" class="pro-image-back" height="300px" width="600px">
                    {% endif%}
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="{%url 'dress-detail-user' dress.id %}" class="link-product-add-cart">Quick View</a>
												</div>
											</div>

									</div>
									<div class="item-info-product ">
										<h4><a href="#">{{ dress.name }}</a></h4>
                                        <h4><a href="single.html">{{ dress.type }}</a></h4>

										<div class="info-product-price">
											<span class="item_price">Rs. {{ dress.price }}</span>
										</div>


									</div>
								</div>
							</div>
        {% endfor %}
 {% else %}
      <p>You have not uploaded any dresses</p>
<a class="hvr-outline-out button2" href="{% url 'adddress' %}">Click here to add a new dress </a>
    {% endif %}
    {% if dress_list.has_other_pages %}
    <div class="clearfix">
      <ul class="pagination">
        {% if dress_list.has_previous %}
          <li><a href="?page={{ dress_list.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in dress_list.paginator.page_range %}
          {% if dress_list.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }} ">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if dress_list.has_next %}
          <li><a href="?page={{ dress_list.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
</div>
    {% endif %}
{% endblock %}
